@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: whitesmoke;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  min-height: 100dvh;
  font-size: 10px;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#blog-card-description-div p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit text to 2 lines */
  -webkit-box-orient: vertical;
  word-break: break-all;
}

#blog-card-description-div h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit text to 2 lines */
  -webkit-box-orient: vertical;
  word-break: break-all;
}

#blog-card-description-div,
#item-description-div {
  mask-image: linear-gradient(180deg, #000 60%, transparent);
}

#blog-card-description-div img {
  display: none;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: "Write your blog..";
  float: left;
  height: 0;
  pointer-events: none;
}

#ind-blog h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

#ind-blog p {
  font-size: 1.4rem;
  font-weight: medium;
}
